
# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
env/
.venv/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# DISTRIBUCIÓN / BUILD
# =========================
build/
dist/
*.egg-info/

# =========================
# VARIABLES DE ENTORNO
# =========================
.env

# =========================
# JUPYTER NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# STREAMLIT
# =========================
.streamlit/secrets.toml

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db

# =========================
# ARCHIVOS DE DATOS 
# =========================

*.csv